<h1>Photos list</h1>

<table>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= link_to(image_tag("photos/#{photo.thumbnail}",size:'75x56',border:1,id:'thumbnail'),photo) %></td>
        <td><%=h photo.filename %></td>

        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
